<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notify My Habit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Notify My Habit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/viewhabits">View Habbits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/addhabit">Add Habbits</a>
                        </li>
                    </ul>

                    <a class="nav-link text-dark" asp-area="" asp-page="/login" id="login-link">Login</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/signup" id="signup-link">SignUp</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="" onClick="signOut()" id="signOut-link">Signout</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        if (window.localStorage.getItem("email") == null) {
            console.log("not logged in");
            document.getElementById("login-link").hidden = false;
            document.getElementById("signup-link").hidden = false;
            document.getElementById("signOut-link").hidden = true;
        } else {
            console.log("logged in");
            document.getElementById("login-link").hidden = true;
            document.getElementById("signup-link").hidden = true;
            document.getElementById("signOut-link").hidden = false;
        }

        function signOut()
        {
            window.localStorage.clear();
            window.location.href("/Index")
        }
        

       
    </script>
    <app-footer _ngcontent-rry-c23="" _nghost-rry-c22=""  >
        <nav _ngcontent-rry-c22="" class="navbar fixed-bottom navbar-light bg-white">
            <div _ngcontent-rry-c22="" class="container-fluid" style="color:dimgray">
                <a _ngcontent-rry-c22="" href="/home" class="navbar-brand" style="color: rgb(128 128 128);">
                    <i _ngcontent-rry-c22="" class="devicon"></i></a>
                <a _ngcontent-rry-c22="" href="https://github.com/RohitChandupatla/proposal-notify-myhabit" class="navbar-brand">
                    <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> proposal</a>
                <a _ngcontent-rry-c22="" href="https://github.com/AkankshaSudhagoni/notify-myhabit/projects" class="navbar-brand">
                    <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> Working planing</a>
            </div>
        </nav>
    </app-footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/delete.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
