###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
*.cache
*.cache
*.sqlite
.vs/habitapp/v17/.suo
*.sqlite
*.sqlite
.vs/habitapp/v17/.suo
.vs/slnx.sqlite
