@page "/forgetpassword"
@model HabitApp.Pages.ForgetPasswordModel
@{
}

<center>
    <br /><br /> <br /><br /><br /><br /> <br /><br />
    <div class="card border-success mb-3" style="max-width: 40rem;">
        <div class="card-header">
        <h2 class="card-title">Forgot Password</h2>
        </div>
        <form method="post">
            <div class="card-body text-success">


                <div class="mb-3">

                    <label class="form-label">Email</label><br />
                    <input type="email" class="form-control" required asp-for="ForgotModel.Email"/>

                </div>

                <div class="mb-3">

                    <center>

                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </center>

                </div>
            </div>
        </form>
    </div>

</center>
