@page "/resetpassword"
@model HabitApp.Pages.ResetPasswordModel
@{
}

<center>
    <br /><br /> <br /><br /><br /><br /> <br /><br />
    <div class="card border-success mb-3" style="max-width: 40rem;">
        <div class="card-header">
            <h2 class="card-title">Forgot Password</h2>
        </div>
        <div class="card-body text-success">

            <form method="post">
                <div class="mb-3">

                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" required asp-for="ResetPasswordData.newPassword" />
                    <br />
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" required asp-for="ResetPasswordData.confirmPassword" />
                    <br />
                    <label class="form-label">Code</label>
                    <input type="text" class="form-control" required asp-for="ResetPasswordData.code" />

                </div>
                <br />
                <div class="mb-3">

                    <center>

                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </center>

                </div>

            </form>
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }

</center>