@page "/viewsinglehabit"
@model HabitApp.Pages.ViewSingleHabitModel
@{
}

<div class="mt-5 justify-content-center align-items-center">
   <br/>
	<div class="card mt-5" style="width: 20rem; margin-left:420px">
      <img id="image" src="/Images/washHand.png" class="card-img-top" alt="...">
      <div class="card-body" style="text-align:center">
        <h5 class="card-title" id="title">Habit Title</h5>
        <p class="card-text" style="text-align:left" id="description">Description.......</p>
        <div>
            <div class="mb-3" id="videoBox">
                    <label class="form-label" > Video Url</label>
                    <label  class="form-label" id="url" />
            </div>
                <div class="mb-3" id="audiobox">
                    <label class="form-label">Habit Audio</label>
                        <audio id="myAudio" controls="controls" >
                          <source id="audio" type="audio/ogg">
                        </audio>
                </div>
        </div>
        <button onclick="redirect()" class="btn btn-success" >Go Back</button>
      </div>
    </div>
</div>


<script>

var url_string = window.location.href
var url = new URL(url_string);

    var idtext = url.searchParams.get("hid")
    var titleText = url.searchParams.get("htitle")
    var descriptiontext = url.searchParams.get("hdescription")
    var audiotext = window.localStorage.getItem("audio")
    var imagetext = window.localStorage.getItem("imagetext")
    var statustext = url.searchParams.get("hstatus")
    var pointtext = url.searchParams.get("hpoints")
    var videourltext = url.searchParams.get("hvideo")
    var redirectUrl = url.searchParams.get("hredirect")


    function redirect()
    {
        window.location.href = "/" + redirectUrl
    }

var audio = document.getElementById('myAudio');

var source = document.getElementById('audio');
source.src = audiotext

audio.load(); //call this to just preload the audio without playing
    
    if (audiotext == "BsonNull") {
        document.getElementById("audiobox").hidden = true;
    }

    if (imagetext == "BsonNull")
    {
        document.getElementById("image").hidden = true;
    }

    if (videourltext == "BsonNull") {
        document.getElementById("videoBox").hidden = true;
    }

document.getElementById("image").src = imagetext;
document.getElementById("title").innerText = titleText;
document.getElementById("description").innerText = descriptiontext;
document.getElementById("url").innerText = videourltext;


</script>
